.caro{
	
	height: 300px;
	width: 100%;
	
}
.cone{
   background-color: coral;
   margin-top:600px;
}
.jum{
	margin-top:100px;
	background-color: darkgoldenrod;
  position: absolute;

}
#cet{
	text-align:center;
}
#top1{
	margin-top: -300px;
}
.form{
	background-color:purple;
	margin-top: 100px;
	width:70%;
	margin-left:100px;
	
}
.lab{
	font-size: 30px;
}
.bat{
	width:40% ;
}
.cone1{
	margin-top:50px;
}
.col{
	height:100px;
	background-color: dimgray;
	margin-top:50px;
}
#al{
   color: red;
}
.move{
	width: 100%;
	
}
.but{
	height:50px;
}
.ima{
	width:60%;
	height:500px;
}
#do{
	text-align:left;
	margin-left: 100px;
	position:relative;
}
.lab{
	color: white;
}
