.caro{
	
	height: 50px;
	width: 100%;
	
}
.cone{
   background-color: coral;
   margin-top:600px;
}

#cet{
	text-align:center;
}
#top1{
	margin-top: -300px;
}
.form{
	background-color:black;
	margin-top: 100px;
	width:70%;
	margin-left:70px;
	
}
.lab{
	font-size: 30px;
}
.bat{
	width:40% ;
}
.cone1{
	margin-top:50px;
}
.col{
	height:100px;
	margin-top:500px;
}
#al{
   color: red;
}
.move{
	width: 100%;
	
}
.but{
	height:50px;
}
.ima{
	width:60%;
	height:500px;
}
#do{
	text-align:left;
	margin-left: 100px;
	position:relative;
}
.lab{
	color: white;
}
.img{
	height: 70px;
	width: 90px;
}
.dis{
	width: 100%;
	height: 600px;
}
.d-block {
	height: 600px;
}
.mama{
	background-color:greenyellow;
	 float: left;
	 margin-top: 80px;
	 width: 50%;
	 margin-left:500px;
	 position:relative;
	 right: 120px;
	 padding:20px;
   }
   #koko{
	 height:600px;
   }
   #so{
	color: antiquewhite;
  }
  .bet{
	  width: 100%;
	  height: 600px;
  }
